In [1]:
import sqlalchemy as sa
from sqlalchemy.ext.automap import automap_base
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
engine = sa.create_engine('mysql://root:password@localhost/typing')

In [3]:
connection = engine.connect()

### Remove undefined

Get all ts_ids which have only undefined values

In [ ]:
q = '''
SELECT TEST_SECTION_ID FROM valid_input_logdata log
WHERE log.DATA = 'undefined'
GROUP BY log.TEST_SECTION_ID HAVING COUNT(DISTINCT(log.DATA)) = 1
'''

In [ ]:
%%time
res = connection.execute(q)

In [ ]:
ts_invalid = list(res)

Mark as invalid

In [ ]:
tmp = []
for id in ts_invalid:
    tmp.append(id[0])

In [ ]:
ts_invalid = pd.DataFrame({'ts_id':tmp})

In [ ]:
ts_invalid.shape

In [ ]:
ts_invalid.to_csv('./ts_invalid.csv',index=False)

Move to new table

In [ ]:
q = '''
INSERT INTO log_data_invalid SELECT * FROM valid_input_logdata log WHERE log.TEST_SECTION_ID = {}
'''

In [ ]:
q.format(10)

In [ ]:
res = connection.execute(q)

In [ ]:
%%time
for id in ts_invalid.ts_id:
    q = '''
    INSERT INTO log_data_invalid SELECT * FROM valid_input_logdata log WHERE log.TEST_SECTION_ID = {}
    '''
    q = q.format(id)
    res = connection.execute(q)

Delete from old table

In [ ]:
%%time
for id in ts_invalid.ts_id:
    q = '''
    DELETE FROM valid_input_logdata WHERE valid_input_logdata.TEST_SECTION_ID = {}
    '''
    q = q.format(id)
    res = connection.execute(q)

In [ ]:
q = '''
SELECT TEST_SECTION_ID FROM valid_input_logdata log
WHERE log.KEY != 'undefined'
LIMIT 5
'''

### Confirm demographics

In [ ]:
import processing

In [ ]:
ts = processing.get_test_sections()

In [ ]:
participants = processing.get_participants()
participants.head().T

In [ ]:
ts_id_invalid = pd.read_csv('./ts_invalid.csv')

In [ ]:
ts.loc[ts[2].isin(ts_id_invalid.ts_id)].tail()

In [ ]:
participant_id_invalid = ts.loc[ts[2].isin(ts_id_invalid.ts_id),2]

In [ ]:
participants['is_valid'] = True
participants.loc[participants.PARTICIPANT_ID.isin(participant_id_invalid),'is_valid'] = False

In [ ]:
participants_invalid = participants.loc[~participants.is_valid].copy()

In [ ]:
participants_valid = participants.loc[participants.is_valid].copy()

Is there any mixing of participants (i.e. do some invalid participants have test sections which are valid)?

In [ ]:
participants.shape[0] - (participants_invalid.shape[0] + participants_valid.shape[0])

In [ ]:
participants.BROWSER[0]

### Age

In [ ]:
participants.groupby('is_valid').AGE.describe(
    percentiles = [0.05,0.95,0.1,0.9,0.2,0.8,0.5]
)

### Gender

In [ ]:
participants.groupby('is_valid').GENDER.value_counts(normalize=True)

### Posture

In [ ]:
split = participants.FINGERS.str.split(';',n=2,expand=True)
participants['FINGERS_1'],participants['FINGERS_2'] = split[0],split[1]

In [ ]:
participants.groupby('is_valid').FINGERS_1.value_counts(normalize=True)

In [ ]:
participants.groupby('is_valid').FINGERS_2.value_counts(normalize=True)

### Keyboard

In [ ]:
participants.groupby('is_valid').LAYOUT.value_counts(normalize=True)

### ITE

#### Valid

In [ ]:
participants_valid.USING_FEATURES.value_counts(normalize=True).head(8)

#### Invalid

In [ ]:
participants_invalid.USING_FEATURES.value_counts(normalize=True).head(8)

### App

#### Valid

In [ ]:
participants_valid.USING_APP.value_counts(normalize=True).head(8)

#### Invalid

In [ ]:
participants_invalid.USING_APP.value_counts(normalize=True).head(8)

### Performance

In [ ]:
participants.groupby('is_valid').WPM.plot(kind='kde')

In [ ]:
participants.groupby('is_valid').P_KSPC.plot(kind='kde')

In [ ]:
participants.groupby('is_valid').P_IKI.plot(kind='kde')

In [ ]:
f,(ax1,ax2) = plt.subplots(1,2)
n,bins,patches = ax1.hist(participants_valid.AGE, bins = 40)
ax2.hist(participants_invalid.AGE, bins = bins)
plt.tight_layout()

In [ ]:
f,(ax1,ax2) = plt.subplots(1,2)
sns.distplot(participants_valid.AGE, ax=ax1)
sns.distplot(participants_invalid.AGE, ax=ax2)
plt.tight_layout()

In [164]:
%%time
with open('/Users/itto/Downloads/preprocessed.sql','r') as f:
    for i in range(1000):
        l = f.read(5000000)
    for i in range(569):
        l = f.read(1000000)
    l = f.read()

CPU times: user 13 s, sys: 6.61 s, total: 19.6 s
Wall time: 19.8 s

In [172]:
l.find('Dumping')

864552

In [181]:
with open('./test_sections_dump.sql','a') as f:
    f.write(l[864545:])

In [186]:
with open('./test_sections_dump.sql','r') as f:
    l = f.read()

In [189]:
print(l[:500])

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

DROP TABLE IF EXISTS `valid_test_sections`;

CREATE TA

In [190]:
print(l[-500:])

ABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-03-19 11:26:06

## Mark entries

In [ ]:
q = '''
ALTER TABLE valid_input_logdata
ADD COLUMN LAST_CHARS text DEFAULT NULL,
ALGORITHM=INSTANT
'''

In [ ]:
res = connection.execute(q)

In [104]:
q = '''
ALTER TABLE valid_input_logdata
ADD COLUMN LEN_DIFF int(8) DEFAULT NULL,
ALGORITHM=INSTANT
'''

In [105]:
res = connection.execute(q)

## Play data

In [214]:
%%time
log = pd.read_json('./log_sample_5k_participants.json')

CPU times: user 36.7 s, sys: 39.2 s, total: 1min 15s
Wall time: 1min 33s

In [218]:
log = log.sort_values(['TEST_SECTION_ID','TIMESTAMP'])
invalid = log.loc[log.LOG_DATA_ID.diff() < 0].TEST_SECTION_ID.unique()
log = log.loc[~log.TEST_SECTION_ID.isin(invalid)].copy()

In [209]:
log = log.drop([
    'DEVICE_ORIENTATION',
    'SCREEN_ORIENTATION',
    'DUMMY',
    'CODE',
    'TYPE',
    'LAST_CHAR',
    'LAST_CHAR_PREV',
    'LAST_CHARS',
    'PRESSED',
    'LEN_DIFF',
    'KEY'],axis=1)
log.head()

,AUTOCORR,DATA,INPUT_LEN,INPUT_LEN_PREV,LEV_DIST,LEV_DIST_PREV,LOG_DATA_ID,PREDICT,SWYPE,TEST_SECTION_ID,TEXT_FIELD,TIMESTAMP
59264,0,W,1,62,61,1,641921,0,0,4898,W,2018-09-20 16:20:23.581
59265,0,h,2,1,1,61,641939,0,0,4898,Wh,2018-09-20 16:20:23.965
59266,0,e,3,2,1,1,641950,0,0,4898,Whe,2018-09-20 16:20:24.189
59267,0,b,4,3,1,1,641968,0,0,4898,Wheb,2018-09-20 16:20:24.629
59268,0,null,3,4,1,1,642038,0,0,4898,Whe,2018-09-20 16:20:26.239

In [219]:
log.columns = log.columns.str.lower()
log.head()

,autocorr,data,input_len,input_len_prev,lev_dist,lev_dist_prev,log_data_id,predict,test_section_id,text_field,timestamp
2355200,0,t,1,41,40,1,350859,0,2722,t,2018-09-20 12:08:01.488
2355201,0,th,2,1,1,40,350870,0,2722,th,2018-09-20 12:08:01.693
2355202,0,th,2,2,0,1,350876,0,2722,th,2018-09-20 12:08:01.840
2355203,0,thi,3,2,1,0,350889,0,2722,thi,2018-09-20 12:08:01.893
2355204,0,this,4,3,1,1,350897,0,2722,this,2018-09-20 12:08:02.045

In [220]:
log.rename(columns={
    'test_section_id': 'ts_id',
    'data': 'key'
}, inplace=True)
log.head()

,autocorr,key,input_len,input_len_prev,lev_dist,lev_dist_prev,log_data_id,predict,ts_id,text_field,timestamp
2355200,0,t,1,41,40,1,350859,0,2722,t,2018-09-20 12:08:01.488
2355201,0,th,2,1,1,40,350870,0,2722,th,2018-09-20 12:08:01.693
2355202,0,th,2,2,0,1,350876,0,2722,th,2018-09-20 12:08:01.840
2355203,0,thi,3,2,1,0,350889,0,2722,thi,2018-09-20 12:08:01.893
2355204,0,this,4,3,1,1,350897,0,2722,this,2018-09-20 12:08:02.045

In [223]:
log = log[[
    'log_data_id',
    'ts_id',
    'key',
    'text_field',
    'timestamp',
    'input_len',
    'lev_dist',
    'input_len_prev',
    'lev_dist_prev',
    'swype',
    'predict',
    'autocorr'
]].copy()
log.head()

,log_data_id,ts_id,key,text_field,timestamp,input_len,lev_dist,input_len_prev,lev_dist_prev,swype,predict,autocorr
2355200,350859,2722,t,t,2018-09-20 12:08:01.488,1,40,41,1,None,0,0
2355201,350870,2722,th,th,2018-09-20 12:08:01.693,2,1,1,40,None,0,0
2355202,350876,2722,th,th,2018-09-20 12:08:01.840,2,0,2,1,None,0,0
2355203,350889,2722,thi,thi,2018-09-20 12:08:01.893,3,1,2,0,None,0,0
2355204,350897,2722,this,this,2018-09-20 12:08:02.045,4,1,3,1,None,0,0

In [224]:
log.timestamp = log.timestamp.astype(int)/1000000

In [225]:
log.to_csv('./log_sample_5k_participants.csv',index=False)