In [44]:
import sqlalchemy as sa
from sqlalchemy.ext.automap import automap_base
import pandas as pd
import numpy as np

In [184]:
engine = sa.create_engine('mysql://root:password@localhost/typing')

In [185]:
connection = engine.connect()

Get all ts_ids which have only undefined values

In [206]:
q = '''
SELECT TEST_SECTION_ID FROM valid_input_logdata log
WHERE log.DATA = 'undefined'
GROUP BY log.TEST_SECTION_ID HAVING COUNT(DISTINCT(log.DATA)) = 1
'''

In [207]:
%%time
res = connection.execute(q)

CPU times: user 20.3 ms, sys: 9.81 ms, total: 30.1 ms
Wall time: 1min 55s

In [208]:
ts_invalid = list(res)

Mark as invalid

In [219]:
q = '''
ALTER TABLE valid_input_logdata
ADD IS_VALID boolean not null default 1
'''

In [222]:
tmp = []
for id in ts_invalid:
    tmp.append(id[0])

In [226]:
ts_invalid = pd.DataFrame({'ts_id':tmp})

In [230]:
ts_invalid.shape

(50577, 1)

In [228]:
ts_invalid.to_csv('./ts_invalid.csv',index=False)

Move to new table

In [231]:
q = '''
INSERT INTO log_data_invalid SELECT * FROM valid_input_logdata log WHERE log.TEST_SECTION_ID = {}
'''

In [233]:
q.format(10)

'\nINSERT INTO log_data_invalid SELECT * FROM valid_input_logdata log WHERE log.TEST_SECTION_ID = 10\n'

In [ ]:
res = connection.execute(q)

In [237]:
%%time
for id in ts_invalid.ts_id:
    q = '''
    INSERT INTO log_data_invalid SELECT * FROM valid_input_logdata log WHERE log.TEST_SECTION_ID = {}
    '''
    q = q.format(id)
    res = connection.execute(q)

CPU times: user 6.65 s, sys: 1.18 s, total: 7.83 s
Wall time: 1min 36s

Delete from old table

In [238]:
%%time
for id in ts_invalid.ts_id:
    q = '''
    DELETE FROM valid_input_logdata WHERE valid_input_logdata.TEST_SECTION_ID = {}
    '''
    q = q.format(id)
    res = connection.execute(q)

CPU times: user 6.15 s, sys: 1.13 s, total: 7.28 s
Wall time: 1min 31s

In [215]:
q = '''
SELECT TEST_SECTION_ID FROM valid_input_logdata log
WHERE log.KEY != 'undefined'
LIMIT 5
'''